{% extends '@Client/Base/index.html.twig' %}

{% block body %}
    <section class="blog">
        <div class="blog__title">BLOG</div>
        <div class="blog__container">
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
            <div class="blog__container--content">
                <div class="blog__container--content__image"></div>
                <div class="blog__container--content__title">Blog Sample One</div>
                <div class="blog__container--content__desc">May 31, 2019</div>
            </div>
        </div>
    </section>
{% endblock %}