<nav class="navbar">
    <a href="{{ path('client_homepage') }}">
        <div class="navbar__title">
            <div class="navbar__title--first">S</div>
            <div class="navbar__title--second">P</div>
        </div>
    </a>

    <ul class="navbar__navigation">
        <li class="navbar__navigation--list">Home</li>
        <li class="navbar__navigation--list">Blog</li>
        <li class="navbar__navigation--list">Contact</li>
    </ul>
</nav>