<nav class="navbar">
    <div class="navbar__title">
        SP
    </div>

    <ul class="navbar__navigation">
        <li class="navbar__navigation--list">Home</li>
        <li class="navbar__navigation--list">Home</li>
        <li class="navbar__navigation--list">Home</li>
        <li class="navbar__navigation--list">Home</li>
    </ul>
</nav>