@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
  -moz-user-select: $selection;
  -ms-user-select: $selection;
  user-select: $selection;
}

@mixin display-flex() {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
}

@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin transform-translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  transition: $time;
}

@mixin box-shadow ($h, $v, $blur, $spread, $color) {
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
  box-shadow: $h $v $blur $spread $color;
}